*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
}
body{
    background: #000 !important;
}
.container{
    background-color: black;
}
.search-bar{
    margin-top: 30px;
    margin-bottom: 30px;
}
input{
    position: relative;
    background: rgba(255, 255, 255, 0.1); 
    height: 40px;
    width: 100%;
    padding: 0 5px 0 5px;
    border-bottom: 1px solid white;
}
input:focus{
    -webkit-box-shadow: unset;
            box-shadow: unset;
    outline: 0;
}
li{
    list-style-type: none;
    color: #bdc3c7;
}
li:hover{
    color: white;
}
.media{
    margin-bottom: 10px;
    padding: 5px;
    max-height: 150px;
}
.media:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
}
.media:hover .media-left img{
    outline: 3px solid white;
}
.media:hover .media-body{
    color: white;
}
.media-body{
    color: #bdc3c7;
}
.media-body h5{
    max-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.media-body p{
    font-size: 0.8em;
    color: #bdc3c7;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
    padding: 5px 0;
    margin: 0;
}
.media-body span{
    margin-top: -20px;
}
.title-list-item{
    padding-top: 40px;
    text-align: center;
}
.video{
    border: 5px solid white;
}
.video-detail{
    margin-top: 30px;
    text-align: justify;
    text-justify: inter-word;
}
.video-detail h2{
    text-align: left;
}
.video-detail p{
    margin-top: 30px;
    font-size: 1em;
    color: #bdc3c7;
}
.infos p{
    margin: 0;
    font-size: 0.8em;
}
button{
    position: absolute;
    height: 40px;
    width: 40px;
    right: 15px;
    background: white;
    color: black !important;
}
button:hover{
    background: #bdc3c7;
    color: white !important;
}
